.card {
  border: 1px solid #979797;
  background: #fff;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}

.card-titel {
  text-align: left;
  color: #000;
  font-size: 18px;
  font-weight: 300;
}

.card-subtitel {
  text-align: left;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.card-text {
  padding: 20px;
}
