.header {
  background-image: url(../../img/img-header.jpg);
  background-size: cover;
  background-position: center;
  border-bottom: solid #ffb500 40px;
}

.header-titel {
  color: #fff;
  text-align: center;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: Raleway;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 113px 43px 143px;
}
